<div class="container">
    <div class="jumbotron justify-content-center">
        <img src="/assets/img/Burger-PNG.png" alt="Burger">
        <h1>Eat Da Burger!</h1>


    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>My Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{this.burger_name}}</strong>
                <button type="button" class="devour" data-id="{{this.id}}">Devour It!<i class="fas fa-utensils"></i></button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{this.burger_name}}</strong>
                <button type="button" class="delete" data-id="{{this.id}}">Delete!<i class="fas fa-trash-alt"></i></button></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <h2>Create A Burger</h2>
    </div>
    <div class="row justify-content-center">
        <form class="create-form">
            <div class="form-group">
                <label for="newBurger">My Burger:</label>
                <input type="text" id="newBurger" name="burger"><button type="submit">Order!<i class="fas fa-hamburger"></i></button>
            </div>
            
        </form>
    </div>
</div>