body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: url(/assets/img/diner.jpeg);   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.container {
    background-color: rgb(230, 230, 230, 0.95);
    padding: 20px;
    margin-top: 10px;
}

.jumbotron {
    text-align: center;
    color: black;
    border-radius: 0;
    background: none;
    width: auto;
    padding: 10px;
}

img {
    width: 300px;
    height: auto;
}

ul {
    list-style-type: none;
    max-width: 90%;
    justify-content: center;
}

li {
    padding: 5px;
}

h2 {
    text-align: center;
    padding: 20px;
}

button {
    background-color: red;
    color: yellow;
    border: none;
    width: auto;
    border: 1px solid yellow;
}

button:hover {
    color: red;
    background-color: yellow;
    border: 1px solid red;
}

.fas {
    padding: 5px;
}